.progressbar .number-wrap {
  margin-left: 7px;
  flex-shrink: 0;
  color: #0068ff;
  font-size: 24px;
  font-weight: 700;
}
.progressbar .source-name {
  font-size: 13px;
  color: var(--black);
  font-weight: 400;
  word-break: break-word;
  line-height: 18.2px;
}
